.wheel.keen-slider {
  display: block;
  color: #fff;
  height: 100%;
  overflow: visible;
  width: 100%;

  --wheel__center: 48%;
  --wheel__edges: calc(52% / 2);
}
.wheel--perspective-right .wheel__inner {
  perspective-origin: calc(50% + 100px) 50%;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
}
.wheel--perspective-left .wheel__inner {
  perspective-origin: calc(50% - 100px) 50%;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.wheel__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: var(--wheel__center);
  width: 100%;
}

.wheel__colon {
  font-weight: bold;
  position: absolute;
  right: -5px;
  font-size: 40px;
}

.wheel__slides {
  height: 100%;
  position: relative;
  width: 100%;
}

.wheel__shadow-top,
.wheel__shadow-bottom {
  background: linear-gradient(to bottom, #7b3eb1bf 0%, #7b3eb100 50%);
  mask-type: alpha;
  left: 0;
  height: var(--wheel__edges);
  width: 100%;
  border-bottom: 2px solid var(--theme-detail);
  position: relative;
  z-index: 5;
}

.wheel__shadow-bottom {
  background: linear-gradient(to top, #7b3eb1bf 0%, #7b3eb100 50%);
  border-bottom: none;
  border-top: 2px solid var(--theme-detail);
}

.wheel__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  margin-top: 1px;
  margin-left: 5px;
}

.wheel__slide {
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  font-size: 64px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: flex-end;

  padding-right: 17%;
}

.wheel__slide span {
  padding-bottom: 4px;
}
