.focusTime {
  margin-bottom: 50px;
}

.title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.timePicker {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}
