.countdownButton {
  border-radius: 100%;
  width: 50vw;
  max-width: 250px;
  aspect-ratio: 1;
  background: #7900808a;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
  animation-timing-function: cubic-bezier(0.1, 0.76, 0.63, 1.03) !important;
}

.buttonText {
  font-size: 2rem;
  font-weight: bold;
}

.bounce {
  animation: bounce 1.2s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
